@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --font-sora: var(--font-sora);
}





html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE / old Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}


body {
  background: #000;
}

@keyframes logoReveal {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-logoReveal {
  animation: logoReveal 20s ease-in-out forwards;
}


@keyframes orange-glow {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.3))
            drop-shadow(0 0 20px rgba(255, 165, 0, 0.2))
            drop-shadow(0 0 25px rgba(255, 165, 0, 0.1));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 165, 0, 0.7))
            drop-shadow(0 0 35px rgba(255, 140, 0, 0.5))
            drop-shadow(0 0 45px rgba(255, 69, 0, 0.3));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.3))
            drop-shadow(0 0 20px rgba(255, 165, 0, 0.2))
            drop-shadow(0 0 25px rgba(255, 165, 0, 0.1));
  }
}
@keyframes orange-glow2 {
  0% {
    filter: drop-shadow(0 0 17.5px rgba(255, 165, 0, 0.3))
            drop-shadow(0 0 22.5px rgba(255, 165, 0, 0.2))
            drop-shadow(0 0 32.5px rgba(255, 165, 0, 0.1));
  }
  50% {
    filter: drop-shadow(0 0 1px rgba(255, 165, 0, 0.7))
            drop-shadow(0 0 5px rgba(255, 140, 0, 0.5))
            drop-shadow(0 0 7.5px rgba(255, 69, 0, 0.3));
  }
  100% {
    filter: drop-shadow(0 0 17.5px rgba(255, 165, 0, 0.3))
            drop-shadow(0 0 22.5px rgba(255, 165, 0, 0.2))
            drop-shadow(0 0 32.5px rgba(255, 165, 0, 0.1));
  }
}


.glow-orange {
  animation: orange-glow 4s ease-in-out infinite;
}

.glow-orange2 {
  box-shadow: 0 0 17.5px rgba(255, 123, 0, 0.3),
              0 0 22.5px rgba(255, 81, 0, 0.925),
              0 0 32.5px rgba(255, 165, 0, 0.1);
  text-shadow: none;
}
@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 10px 2px rgba(236, 65, 2, 0.6);
  }
  50% {
    box-shadow: 0 0 25px 5px rgba(232, 96, 46, 1);
  }
}

.glow-orange3 {
  animation: glowPulse 4s ease-in-out infinite;
}